.DS_Store
node_modules/
dist/
!packages/syncloungeserver/dist/
!packages/syncloungeserver/dist/**
npm-debug.log
.idea/
.vscode
.tmp

.env.local
.env.*.local
.npm

.git
.gitignore
.github
.browserslistrc
.editorconfig
.eslintrc.js
.dockerignore
Dockerfile
screenshots/
**/README.md
**/LICENSE

public/config.json
